<p>dashboard works!</p>

<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">
      <img class="brand-logo" src="https://cdn.pixabay.com/photo/2017/10/08/19/55/cruz-2831364_960_720.png"  style="width: 17%;" alt="Logo">
    </a>
  </nav>

  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">



      <nav class="col-md-2 d-md-block bg-dark sidebar" id="menu">
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="authService.userData as user">
          <div class="col-md-12" id="box1">
            <div class="media">
              <img  id="img_perfil" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                alt="{{user.displayName}}">
            </div>
            <span><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></span>

          </div>
        </div>

        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/dashboard">
                <i class="fas fa-user"></i> <img src="assets/usuario.png" class="icon" alt="">User Profile
                <hr>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light"  routerLink="/add-control">

                <i class="fas fa-prescription"></i>  <img src="assets/pata.png" class="icon" alt=""> Agregar Expediente
                <hr>
              </a>
            </li>

            <hr>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link text-light" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt"></i><img src="assets/flecha.png" class="icon" alt=""> Log out
                <hr>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">

          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">User Profile</h1>
          </div>
          <!-- Show user data when logged in -->
          <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                <img   src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                  alt="{{user.displayName}}">
                <div class="media-body" id="caja_info">
                  <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                  <p>Email: <strong>{{user.email}}</strong></p>
                  <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </main>

    </div>
  </div>
